/* ===================3.html=================== */
fieldset{
    width: 400px;
}
legend{
    color: black;
}

.actNumberFormInput{
    width: 20%;
    border-radius: 30px;
}

.actCommentFormInput{
    width: 98%;
    height: 100px;
    border-radius: 10px;
}
.actContentFormInput{
    width: 98%;
    height: 100px;
    border-radius: 10px;
}
.actFormInput,.formLabel {
    margin: .2rem 0;
}

.actSelect:focus{
	border: 2px solid black;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

/*input hover*/
input[type="text"]:focus{
	border: 2px solid black;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

input[type="number"]:focus{
	border: 2px solid black;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
input[type="date"]:focus{
	border: 2px solid black;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
input[type="datetime-local"]:focus{
	border: 2px solid black;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
textarea:focus{
	border: 2px solid black;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
