#outter{
	width: 80%;
	margin: auto;
}
@media screen and (max-width:768px){
	#outter{
		width: 95%;
		margin: auto;
	}
}
.imgid{
	max-width:25%;
	border: solid black 2px;
}

@media screen and (max-width:768px){
	.imgid{
		max-width:100%;
		border: solid black 2px;
	}
}
