<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://Java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false" version="3.0">

	<display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- filter -->
	<filter>
		<filter-name>setCharacterEncoding</filter-name>
		<filter-class>core.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>setCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<!-- 前台會員登入管理 -->
	<filter>
		<filter-name>frontEndMemberFilter</filter-name>
		<filter-class>core.FrontEndMemberFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>frontEndMemberFilter</filter-name>
		<!-- 尚缺買賣業面 -->
		<url-pattern>/front_end/activity/publishActivity.jsp</url-pattern>
		<url-pattern>/front_end/activity/memPublishActivityOwnPage.jsp</url-pattern>
		<url-pattern>/front_end/product/sellerProduct.jsp</url-pattern>
		<url-pattern>/front_end/product/sellerAllProducts.jsp</url-pattern>
    <url-pattern>/front_end/product/productReport.jsp</url-pattern>
		<url-pattern>/front_end/product/singleItem.jsp</url-pattern>
		<url-pattern>/front_end/move/moveRequest.jsp</url-pattern>
		<url-pattern>/front_end/move/moveRequestManage.jsp</url-pattern>
		<url-pattern>/front_end/move/moveRequestCManage.jsp</url-pattern>
		<url-pattern>/front_end/move/frontGetMoveOrder.jsp</url-pattern>

		<url-pattern>/front_end/product/collection.jsp</url-pattern>


		<url-pattern>/front_end/product/productReport.jsp</url-pattern>


		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<!-- 後台會員登入管理 -->
	<!-- 	SERVER_MANAGER = 1	-->
	<!-- 	ACTIVITY = 10		-->
	<!-- 	DOUBLE_PROD = 20	-->
	<!-- 	MOVE = 30 			-->
	<!-- 	MEMBER = 40 		-->
	<!-- 	FAQ = 50 			-->
	<!-- 	NEWS = 60 			-->
	<filter>
		<filter-name>backEndMemberFilter</filter-name>
		<filter-class>core.BackEndMemberFilter</filter-class>
		    
		    <!-- 處理中 -->
	
		    
		    <!-- 測試用 -->
		<init-param><param-name>/back_end/news/listallnews.jsp</param-name><param-value>60</param-value></init-param>  
		<init-param><param-name>/back_end/server_manager/activity.jsp</param-name><param-value>10</param-value></init-param>
		<init-param><param-name>/back_end/server_manager/manager.jsp</param-name><param-value>40</param-value></init-param>
		<init-param><param-name>/back_end/server_manager/FAQ.jsp</param-name><param-value>50</param-value></init-param>

		<init-param><param-name>/back_end/activity/listAllActr.jsp</param-name><param-value>10</param-value></init-param>
	  <init-param><param-name>/back_end/product/seller.jsp</param-name><param-value>20</param-value></init-param>
	  <init-param><param-name>/back_end/product/productReportManage.jsp</param-name><param-value>20</param-value></init-param>
	  <init-param><param-name>/back_end/product/listAllproductOrder.jsp</param-name><param-value>20</param-value></init-param>
	  <init-param><param-name>/back_end/product/report/productReportManage.jsp</param-name><param-value>20</param-value></init-param>
	  <init-param><param-name>/back_end/move/moveRequest.jsp</param-name><param-value>30</param-value></init-param>
	  <init-param><param-name>/back_end/move/readMoveOrder.jsp</param-name><param-value>30</param-value></init-param>
	  <init-param><param-name>/back_end/move/moveRequestManage.jsp</param-name><param-value>30</param-value></init-param>
	  <init-param><param-name>/back_end/news/listallnews.jsp</param-name><param-value>60</param-value></init-param>
		<init-param><param-name>/back_end/faq/listAllFaq.jsp</param-name><param-value>50</param-value></init-param>
	  <init-param><param-name>/back_end/member/memberstate.jsp</param-name><param-value>40</param-value></init-param>
	  <init-param><param-name>/back_end/server_manager/admin.jsp</param-name><param-value>1</param-value></init-param>
	  <init-param><param-name>/back_end/server_manager/addManager.jsp</param-name><param-value>1</param-value></init-param>

	</filter>
	<filter-mapping>
		<filter-name>backEndMemberFilter</filter-name>
		<url-pattern>/back_end/activity/listAllActr.jsp</url-pattern>
	  <url-pattern>/back_end/product/seller.jsp</url-pattern>
	  <url-pattern>/back_end/product/productReportManage.jsp</url-pattern>
	  <url-pattern>/back_end/product/listAllproductOrder.jsp</url-pattern>
	  <url-pattern>/back_end/product/report/productReportManage.jsp</url-pattern>
	  <url-pattern>/back_end/move/moveRequest.jsp</url-pattern>
	  <url-pattern>/back_end/move/readMoveOrder.jsp</url-pattern>
		<url-pattern>/back_end/move/moveRequestManage.jsp</url-pattern>
		<url-pattern>/back_end/news/listallnews.jsp</url-pattern>

		<url-pattern>/back_end/activity/listAllActr.jsp</url-pattern>
		<url-pattern>/back_end/product/productReportManage.jsp</url-pattern>
   		<url-pattern>/back_end/product/seller.jsp</url-pattern>
 		<url-pattern>/back_end/product/listAllproductOrder.jsp</url-pattern>
		<url-pattern>/back_end/faq/listAllFaq.jsp</url-pattern>
	  <url-pattern>/back_end/member/memberstate.jsp</url-pattern>
	  <url-pattern>/back_end/server_manager/admin.jsp</url-pattern>
	  <url-pattern>/back_end/server_manager/addManager.jsp</url-pattern>

		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

	<!-- move -->
	<servlet>
		<servlet-name>MoveRequestServlet</servlet-name>
		<servlet-class>com.move_request.controller.MoveRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoveRequestServlet</servlet-name>
		<url-pattern>/move/moveRequest.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MoveRequestManageServlet</servlet-name>
		<servlet-class>com.move_request.controller.MoveRequestManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoveRequestManageServlet</servlet-name>
		<url-pattern>/move/moveManage.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MoveOrderServlet</servlet-name>
		<servlet-class>com.move_order.controller.MoveOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoveOrderServlet</servlet-name>
		<url-pattern>/front_end/move/moveorder.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MoveOrderServlet</servlet-name>
		<servlet-class>com.move_order.controller.MoveOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoveOrderServlet</servlet-name>
		<url-pattern>/back_end/move/moveorder.do</url-pattern>
	</servlet-mapping>
	
	<!-- activity -->
	<servlet>
		<servlet-name>ActaServlet</servlet-name>
		<servlet-class>com.activity_attend.controller.ActivityAttendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActaServlet</servlet-name>
		<url-pattern>/activity/acta.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActrServlet</servlet-name>
		<servlet-class>com.activity_report.controller.ActivityReportServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActrServlet</servlet-name>
		<url-pattern>/activity/actr.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActivityServlet</servlet-name>
		<servlet-class>com.activity.controller.ActivityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivityServlet</servlet-name>
		<url-pattern>/activity/act.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActrImage</servlet-name>
		<servlet-class>com.activity_report.controller.DBGifReader4
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActrImage</servlet-name>
		<url-pattern>/activity/ActrImage.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ActivityPhotoServlet</servlet-name>
		<servlet-class>com.activity_photo.controller.ActivityPhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivityPhotoServlet</servlet-name>
		<url-pattern>/activity/actp.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActivityQuestionServlet</servlet-name>
		<servlet-class>com.activity_question.controller.ActivityQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivityQuestionServlet</servlet-name>
		<url-pattern>/activity/actq.do</url-pattern>
	</servlet-mapping>  

	<!-- 耀德 product和news 下-->
  <!-- news -->
	<servlet>
		<servlet-name>NewsServlet</servlet-name>
		<servlet-class>com.news.controller.NewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/back_end/news/NewsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewsUserServlet</servlet-name>
		<servlet-class>com.news.controller.NewsUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsUserServlet</servlet-name>
		<url-pattern>/news/NewsUserServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewsImageReader</servlet-name>
		<servlet-class>com.news.controller.NewsImageReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsImageReader</servlet-name>
		<url-pattern>/news/newsimage.do</url-pattern>
	</servlet-mapping>	
  
  <servlet>
		<servlet-name>ProductReportServlet</servlet-name>
		<servlet-class>com.product_report.controller.ProductReportServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>ProductReportServlet</servlet-name>
		<url-pattern>/product/report.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductReportImageReader</servlet-name>
		<servlet-class>com.product_report.controller.ProductReportImageReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductReportImageReader</servlet-name>
		<url-pattern>/product/reportphoto.do</url-pattern>
	</servlet-mapping>	
  
 	 <!-- 耀德 product和news 上-->
  
	<!-- product -->
	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>com.product.controller.ProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/product/ProductServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductCollectionServlet</servlet-name>
		<servlet-class>com.product_collection.controller.ProductCollectionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductCollectionServlet</servlet-name>
		<url-pattern>/product/productcollection.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductPhotoServlet</servlet-name>
		<servlet-class>com.product_photo.controller.ProductPhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductPhotoServlet</servlet-name>
		<url-pattern>/product_photo/ProductPhotoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBGifReader2</servlet-name>
		<servlet-class>com.product_photo.controller.DBGifReader2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReader2</servlet-name>
		<url-pattern>/product_photo/DBGifReader2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdatePhoto</servlet-name>
		<servlet-class>com.product_photo.controller.UpdatePhoto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePhoto</servlet-name>
		<url-pattern>/product_photo/UpdatePhoto</url-pattern>
	</servlet-mapping>
	<!-- MEMBER -->
	<servlet>
		<servlet-name>BackMemberServlet</servlet-name>
		<servlet-class>com.member.controller.BackMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BackMemberServlet</servlet-name>
		<url-pattern>/back_end/member/BackMemberServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.member.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/front_end/member/MemberServlet.do</url-pattern>
	</servlet-mapping>

	<!-- server manager -->
	<servlet>
		<servlet-name>ServerManagerServlet</servlet-name>
		<servlet-class>com.server_manager.controller.ServerManagerServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServerManagerServlet</servlet-name>
		<url-pattern>/server_manager/ServerManagerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServerManageFunctionServlet</servlet-name>
		<servlet-class>com.server_manager_function.controller.ServerManageFunctionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServerManageFunctionServlet</servlet-name>
		<url-pattern>/server_manager_function/ServerManageFunctionServlet
		</url-pattern>
	</servlet-mapping>

	<!-- faq -->
	<servlet>
		<servlet-name>FaqServlet</servlet-name>
		<servlet-class>com.faq.controller.FaqServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FaqServlet</servlet-name>
		<url-pattern>/back_end/faq/faq.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductOrderServlet</servlet-name>
		<servlet-class>com.product_order.controller.ProductOrderServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductOrderServlet</servlet-name>
		<url-pattern>/front_end/product/productorder.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductOrderServlet</servlet-name>
		<servlet-class>com.product_order.controller.ProductOrderServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductOrderServlet</servlet-name>
		<url-pattern>/back_end/product/productorderback.do</url-pattern>
	</servlet-mapping>
	
	<!-- notification -->
		<servlet>
		<servlet-name>NotificationServlet</servlet-name>
		<servlet-class>com.notification.controller.NotificationServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotificationServlet</servlet-name>
		<url-pattern>/notification/notification.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContactServlet</servlet-name>
		<servlet-class>com.contact.controller.ContactServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactServlet</servlet-name>
		<url-pattern>/contact.do</url-pattern>
	</servlet-mapping>
</web-app>
